<!--Insert main content here-->
<h2>main-content</h2>

<p>
“I was actually on the career path to become an accountant.

“I like math and I loved being creative. The stereotype of the starving artist was all I had to go on when thinking of a future for myself—and I did not want to be starving. I had never actually heard of graphic design until a few days before high school graduation. In college I excelled in my accounting/math courses but it was one class and one teacher that changed my future. This accounting teacher loved accounting—all the debits and credits and double entry journaling stuff made her excited. I looked at her and thought to myself ‘I will never be that excited about accounting.’ From that moment on, all I could imagine was a dreary gray future with an adding machine stuck to my fingertips. Yuck! So I began researching the graphic design industry just to make sure it wasn’t a dying industry—ha! I visited designers and quickly fell in love with the fact that a creative individual could make a living being creative.

“Now, more than 10 years later, I realize that my love for math actually translates into a love for details as a graphic designer. My future is colorful and vibrant. And I will never be stuck inside a dreary cubicle with an adding machine stuck to my fingertips.”

Shawna Mansfield
Gamut Design Group
www.gamutdesigngroup.com
</p>

<p>
	 “I came into the design field via a battery of career tests. All of them mentioned graphic design as a likely field for me. My response? ‘What’s graphic design?’

“After being assured I didn’t have to draw (this was when computers were being introduced), I felt confident enough to check it. I’ve never looked back.”

Cairril Mills, principal
Cairril.com Design & Marketing, Inc.
www.cairril.com 
</p>
<p>
	 “I don’t think of becoming a designer as something I chose to do as much as I do a profession that chose me.

“Being creative is such a large part of who I am and have always been, whether I’m involved in a personal project, making gifts for friends or family, volunteering my skills for a non-profit, or drumming up ideas for a Wise Group client. Art and design have always followed me.

“My father is a gifted artist and (like my mother) has always influenced and supported my potential as early in life as I can remember. He taught me to follow my instincts and to be bold and unapologetically confident. I have always carried that with me.

“For that I am grateful, as I am for a career path that found me and continues to bring joy and fulfillment to my life.”

Natasha Fletcher, art director
Wise Group
www.wisegroup.com
</p>
<!-- End main content-->
