<!--Insert main content here-->
<h2>•r•e•s•p•o•n•s•e•s•</h2>

<p>
Break out the cake and bubbly, HOW is celebrating its 25th anniversary in 2010. We’re not only celebrating our special day, but we’re celebrating the design industry, which is why we asked readers to tell us why they became a designer or to share an experience that influenced their decision for this career path.

We received stories that are heart-warming, comical and inspirational. See for yourself.

1. “I became a designer not to make the world pretty, but to help the world make smarter decisions.”

mig reyes
Threadless, interactive designer
www.threadless.com
<p>
2. “I was actually on the career path to become an accountant.

“I like math and I loved being creative. The stereotype of the starving artist was all I had to go on when thinking of a future for myself—and I did not want to be starving. I had never actually heard of graphic design until a few days before high school graduation. In college I excelled in my accounting/math courses but it was one class and one teacher that changed my future. This accounting teacher loved accounting—all the debits and credits and double entry journaling stuff made her excited. I looked at her and thought to myself ‘I will never be that excited about accounting.’ From that moment on, all I could imagine was a dreary gray future with an adding machine stuck to my fingertips. Yuck! So I began researching the graphic design industry just to make sure it wasn’t a dying industry—ha! I visited designers and quickly fell in love with the fact that a creative individual could make a living being creative.

“Now, more than 10 years later, I realize that my love for math actually translates into a love for details as a graphic designer. My future is colorful and vibrant. And I will never be stuck inside a dreary cubicle with an adding machine stuck to my fingertips.”

Shawna Mansfield
Gamut Design Group
www.gamutdesigngroup.com
<p>
3. “I came into the design field via a battery of career tests. All of them mentioned graphic design as a likely field for me. My response? ‘What’s graphic design?’

“After being assured I didn’t have to draw (this was when computers were being introduced), I felt confident enough to check it. I’ve never looked back.”

Cairril Mills, principal
Cairril.com Design & Marketing, Inc.
www.cairril.com
</p><p>
4. “I was always fascinated with the relationship between type and image. I found old propaganda posters, packaging, records and movie posters with really strong graphics and bold types very inspiring.”

Bridgid McCarren
HOW magazine, art director
www.HOWDesign.com</p>
<p>
5. “I became a Graphic Designer because I liked art—I got a BFA, but needed to make a living. Since those days (30 years ago) I have come to appreciate my job as one of the best, for always offering learning opportunities. I learn every day. … I’ve come to realize that everything we do is experiential, from a web page to signage and videos to brochures. Everything we create needs to take the end users’ experience into account. I think being a designer has increased my thirst for learning. The more I know, the more I want to know and the better my solutions. Bruce Mau said, ‘It’s not about the world of design, it’s about the design of the world.’ I am a contributor to the evolution of the world. We all are. “

Judy Wiebe, creative services manager
Region of Peel
www.peelregion.ca</p>
<p>
6. “Although my BA is in Art (fine art), becoming a designer seemed like the best way for me to exercise my creativity on a daily basis. I love the challenge, working with the various software programs and continually learning.

“But the No. 1 reason I continue to be a designer is because of the mobility of the profession. My husband is active duty Army and we constantly have to move from station to station. But as long as I have my laptop and an Internet connection, I can work. Whether I do freelance work or continue to work for the company I am on retainer for (Pump It Up), I have the flexibility to be creative and excel regardless of where the Army has us stationed. HOOAH!”

Jessica Mercado
Creative Services, PIU Holdings, LLC
(Pump It Up)</p>
<p>
7. “My Dad. When he saw that I liked art, but wasn’t exactly Picasso, he looked into alternative careers for someone who liked to lay out and package book reports, make mix tape covers, and create campaign posters for the class president.”

Katie O’Brien
Fleishman Hillard,  VP & Art Director
http://fhdigital.net/</p>
<p>
8. “I’ve been a professional graphic artist since 1982. I rather lucked-into the career after moving to a small town in New Mexico, and finding Sun Art Advertising.

“By luck, I shall say that the owners of the agency were refugees from the New York City rat race and hailed from an agency there by the name of Ogilvy & Mather.

“So I was trained from A to Z by the best teachers I could ever have hoped for, and to this day, whether I am working for someone else, or doing a bit of freelance through my own business, Eagle Dancer Creative, I am committed to the standards by which I was taught. Having done so here in Las Vegas, NV, since 1985, I’ve been afforded an immense variety of challenges from casinos to entertainers, to businesses and to notables in the private sector.”

Rose Marie Olson
Eagle Dancer Creative</p>
<p>
9. “In 1988, I joined the yearbook club. My high school was a tiny universe of about 300 kids on an air force base in Japan. It was small with lots of big personalities, which made working on the yearbook feel like creating a family scrapbook. That was nice and all and makes for sweet memories, but what I relish most is remembering long hours hovering over a light table, juggling a blue non-repro pencil, x-acto knife, Letraset border tape and a t-square. The smell of a warmed up wax machine and the sticky clicking sounds that a photo and brayer make together were captivating and I could spend hours surrounded by piles of photographs and graph paper. I was the pig and the studio was the shit. Twenty-one years later and I’m still rolling around in it.”

Soung Wiser
The General Design Co.
www.generaldesignco.com</p>
<p>
10. “I became a designer because my high school teacher opened my eyes to the possibilities. I never thought that art, something I considered so much fun, could actually be something I could make a living with. He’s the one that I credit pointing me in this direction and giving me the information I needed. Fortunately, I also was lucky enough to have parents that even though they didn’t quite understand what I’d end up doing, they supported my decision to move forward with graphic design.”

Patricia Zapata
http://patriciazapata.com
<p>
11. “From the time I was in grade school, I knew I wanted to be an artist when I grew up. I was repeatedly told that I could never make a living through a career in art. In 1974, as the first senior in my high school to be focusing independently on art studies, I saw a copy of Milton Glaser’s book “Graphic Design” at the local public library. The volume gave a name to my career goal. It was proof someone could make a living in the field and it was all the inspiration I needed to begin my college design education the following year.”

Jeff Fisher
Jeff Fisher LogoMotives, Engineer of Creative Identity
http://jfisherlogomotives.com</p>
<p>
12. “My decision was made by accident since I had made up my mind in the third grade to become an architect. I grew up in a small town in Wisconsin where the only drafting class in my high school also taught a section in photography and basic graphic design. The straight lines and calculations of drafting didn’t capture my attention as well as I had thought. I fell in love with the concepts of logos and the theories of why things were placed on the page. … Thanks to my tiny school’s taste-test class, I’ve found a career I couldn’t be happier in.”

Samantha Olson
National Association for Tax Professionals (NATP), Graphic Designer
http://www.twitter.com/NATPTAX
<p>
13. “I became a designer because I love creating beautiful things. It quickly became clear to me in high school that I love art and that art is my passion. Being creative and seeing things in different ways is a gift and I want to share that gift with others. There is an unexplainable thing that happens to me when I see design that inspires me or resonates with me. It’s almost like a little fire inside makes me want to run to my sketchbook or computer to get my ideas out. It’s that fire that makes it hard for me to not be a Designer every day of my life.” 

Liz Small
www.lizsmall.com
</p><p>
14. I was the only second-grader growing up in a small town located in the middle of nowhere in Brazil, who handed her homework in a self-made folder stamped with my very own logo and tagline—none of which was required or asked. I spent my entire youth designing cards, letters, fake packaging and fake ads for absolutely no reason except for the fact that I had a creative itch I just had to scratch. No other outlet. No classes. Not a soul to help me. That was the only way I knew how to do it—by designing things at a very young age without being asked. Nobody got me. People poked fun and called me funny little names because I designed around every day things and put them into a different context. I have always known that I wanted to make a living off my creative itch but had no idea how.

“It wasn’t until I was 17 and came to the United States as an exchange student that I was introduced to art & design classes. My heart melted and for the first time I found my identity: I am a designer. I felt complete, fulfilled and I absolutely love what I do today. Design runs through my veins and it is part of who I am. And that, dear friends, is the reason I became a designer.”

Else Neves-Blake
STAPLES promotional products, associate art director
www.StaplesPromoProducts.com</p>
<p>
15. “The main reason I became a designer was because it was something that made me truly happy. I remember my freshman year of college: I was just getting into real design work with drawing, woodwork, photography, you name it. After one of my classes, I remember walking out of the design building with a huge smile on my face because I kept thinking, “I get to do this for the rest of my life. Every day I get to design and create something.”

“From that day on I took as many design classes as I could. And it didn’t matter what kind it was, as long as I was able to be creative, I was all for it!

“After I graduated, I had a few starter jobs that were OK but didn’t really give me what I needed. I then started a new position as a true graphic designer at a place I love, and after my first week of getting acquainted with everything that same feeling of “this is what I get to do for the rest of my life” came back. I walked out of work with a huge smile on my face for the same reason I did back when I was a freshman in college.

“I love design and I love learning about design—anything and everything. It’s the one thing in life that calms me and excites me at the same time. I honestly don’t know what else I would want to do with my life!”

Katie Raymon
Iowa State University College of Business, Graphic Designer
www.business.iastate.edu</p>
<p>
16. “Way back in the day when the advertising agency’s in metro Detroit were kicking out the greatest creative for Ford, Chrysler, GM, Kmart and other mega corporations, I had my eyes set on working in that industry. Right out of high school I landed an interview with the art department of Kmart Corporation when I was presented with ‘I’ll give you a choice: work here and learn everything from me or fulfill your dream of getting a college degree.’

“Just so happens, I chose the college degree and immersed myself in new technologies, transforming the creative industry and forging my own path. Now, all these years later, I’m about to embark
on another new path. Wish me luck.”

Joann Sondy
Creative Aces
www.creativeaces.com</p>
<p>
17. “I likely got my design genes from my father, who was an aeronautical engineer. But apparently I didn’t get his math genes, so engineering wasn’t in my future. I grew up in the ’60s and ’70s surrounded by an explosion of graphic design delivered by The Beatles, Pink Floyd, King Crimson, 10cc, Zappa, Bowie and The Stones among many others. The visual power of those album covers was incredible, and when I finally figured out that some people actually got paid to design cool stuff and stir up emotions with images and words, the deal was sealed. Be careful what you expose your kids to!”

Dave Mason
www.samatamason.com
www.cuspconference.com</p>
<p>
18. “My journey to become a designer started back in high school. I worked on the yearbook and newspaper just for fun. I liked organizing the information in the layouts and making everything fit and still be legible. I began my college search and talked about ‘what I want to do when I grow up.’ At some point, I realized ‘I can do this for a living.’ Awesome.

“So I went away to college and majored in art/communications. Sometime in my first few years in the real world it dawned on me that design plays a major role in communicating at all levels: as basic as a clear newspaper design that is easy to read to a billboard or a compelling painting. This was probably there all along in the background, considering my start with design, but once I realized this, it helped to crystallize my style and mission as a designer.

“My passion for design as a communication tool has led me to start my own business: Redstart Creative. My tagline says it simply: ‘Clear Communication by Design.’ I want to use my design skills to help non-profits and small-businesses to communicate to their audiences and further their missions.”

Rebecca Teaff
Redstart Creative, Creative Director & Principal
www.redstartcreative.com</p>
<p>
19. “Because Mr. McKinney required us to enter the anti-smoking poster contest in eleventh grade in 1982 at Bartlesville High School. He was the art teacher and it was a class assignment. I realized that the “no smoking” symbol (black icon of a smoldering cigarette under a red circle crossed with a diagonal red slash) looked a lot like the iris and pupil of the human eye. I used the big thick markers and a piece of white poster board from Wal-Mart to draw a child’s face with the “no smoking” symbol at the center of each eye. Then I drew a tear coming out of one of the eyes and wrote, “Please, Daddy … Don’t Smoke” above and below the child’s face. I won either second or third place. The poster vanished a long time ago. But I never forgot the feeling of suddenly realizing that combining these images said more and spoke faster than a wordy essay. Kind of like a poem except you don’t have to find words that rhyme.”

Kathy Piersall
A Blue Moon Arts, LLC
www.abluemoonarts.com</p>
<p>
20. “My world in design began by attending the Milwaukee Institute of Art & Design. My intent was to graduate in two years with a degree in photography to finish a half-completed education from two brief stints in Iowa and Montana. One class changed it all.

“The class was a visual studies course with a focus that semester on human anatomy. The specific project of the week: the central nervous system.  I don’t remember why I decided to create the project on the computer, just that I was trying every medium during that freshman year to get a taste of it all.  What I do remember is the motivation for my project—my brother. He had struggled for years with depression and Tourette’s syndrome, among other things. This affected me more than I realized as this project unfolded.
I created a map in Photoshop, being the only program I knew at the time. This map was of an amusement park, titled Mania Island. I designed every ride, from the Bipolar Coaster to the Mood Swinger and the Agitator. Circling sharks and hovering Pterodactyls surrounded the island. There was no way off once you were there and to get in you had to have a prescription or a court-appointed temporary insanity plea. The entire concept was a commentary on the over-prescribing of drugs for those with every kind of mental disorder real or fabricated (depending on your bias).

“The work itself was amateur and kitschy, but it made its point.  The entire class reacted to the point and they kept asking why I was majoring in photography. At first I was confused and even a bit angry. I came here to study photography and that was that, damn it.  … It was an inkling that would just not go away.  It festered and festered until it could no longer be ignored. That fall, I switched my major from photography to communication design. For once, I found something that I excelled at beyond expectations. 
And I never looked back.”

Lisa Leick
The Cholive Company, designer & chocolate adviser
http://www.thecholive.com</p>
<p>
21. I became a designer after realizing I had been doing it most of my life. I remember drawing movie posters when I was 9 years old. I would turn around and sell the marker, pencil and crayon posters to my family for 25¢ a pop. My poor uncle must have bought at least 3 very similar E.T. Posters. As a teenager, I remember seeing an ad in “Thrasher” magazine that Powell Peralta, a skateboard manufacturer, was looking for a new artist to create skateboard graphics. So at 13, I put together a portfolio (mostly skull drawings) and
mailed it off to them. I received a free calendar and a nice letter that
basically said ‘call us when you’re older.’

“Honestly, I never really thought that hard about design as a career, but I worked really hard and followed the advice of many great art instructors that I had in my life. I was fortunate enough to take part in a 2-hour class my Junior and Senior year of high school called commercial art, and that became my formal introduction to the profession as well as Illustrator88.”

Tad Dobbs
Creative Squall
www.creativesquall.com</p>
<p>
22. “Being a designer helps quench my insatiable curiosity, while putting both sides of my brain to work. My work has introduced me to many different subjects, such as chiropractic in pregnancy, building water garden memorials, and how paint is made. I learn something new with every project, with every client.”

Tina Aitala
Aitala Engblom Design</p>
<p>
23. “I don’t think of becoming a designer as something I chose to do as much as I do a profession that chose me.

“Being creative is such a large part of who I am and have always been, whether I’m involved in a personal project, making gifts for friends or family, volunteering my skills for a non-profit, or drumming up ideas for a Wise Group client. Art and design have always followed me.

“My father is a gifted artist and (like my mother) has always influenced and supported my potential as early in life as I can remember. He taught me to follow my instincts and to be bold and unapologetically confident. I have always carried that with me.

“For that I am grateful, as I am for a career path that found me and continues to bring joy and fulfillment to my life.”

Natasha Fletcher, art director
Wise Group
www.wisegroup.com
</p><p>
24. Twenty-Five  Reason Why I became a designer
25. After realizing how expensive animation school was, I took classes in design at a local community college.

 

24. Loved illustration and art my whole life, but realized you have to be dead before your artwork can make you money.

23. A friend enrolled in some design classes and said I should do it too (So influential at that the age of 20).

22. I always had a crush on typography.

21. I started to dream in color separations.

20. My art teacher said I could make money with my creative ideas.

19. I loved what Warhol did with print.

18. Then I saw what Chuck Close did with print.

17. My mother supported my talent at a very young age. I think it was 3? I did a nice chicken illustration with red ink. It’s framed and still is proudly displayed in their house.

16. I wasn’t very good at much else. Straight “Ds” and “Cs” with an “A” in art helped a GPA a tiny bit.

15. Found out I could make some cash designing local punk bands CD artwork.
14. It’s the only way you can sport a Kern shirt without being called a poser.

13. I liked the idea of sitting around in a beanbag chair all day brainstorming.

12. Love to say the word “Helvetica”.

11. Being paid to go on press checks sounded like easy money. (No one ever told me press run 24-7!)

10. I love working on Macs and have no concept of anything PC. My options were limited.

9. I was the only one in the class to have a paid internship which lead to my first full-time graphic design job.

8. It always bugged me when the Sunday Funny Pages were out of registration.

7. I like using the excuse “I’m a designer.”

6. It’s cool to say “I’m a designer!”

5. I was told by a teacher that my handy skills with scissors and x-acto would be valuable. At the time I laughed but it became true!

4. You can pretty much do anything you want and say “it’s part of my creative process!”

3. I liked that my work could influence a purchasing decision.

2. Good branding makes me happy.

1. I hate wearing neckties.
Matthew Mikulsky

Chatter Creative, creative director
www.chattercreative.com 
</p>
<!-- End main content-->
