<!--Place right/bottom panel content html here-->
<h2>why i became a designer</h2>
<p>
The main reason I became a designer was because it was something that made me truly happy. I remember my freshman year of college: I was just getting into real design work with drawing, woodwork, photography, you name it. After one of my classes, I remember walking out of the design building with a huge smile on my face because I kept thinking, “I get to do this for the rest of my life. Every day I get to design and create something.

From that day on I took as many design classes as I could. And it didn’t matter what kind it was, as long as I was able to be creative, I was all for it!

After I graduated, I had a few starter jobs that were OK but didn’t really give me what I needed. I then started a new position as a true graphic designer at a place I love, and after my first week of getting acquainted with everything that same feeling of “this is what I get to do for the rest of my life” came back. I walked out of work with a huge smile on my face for the same reason I did back when I was a freshman in college.

I love design and I love learning about design—anything and everything. It’s the one thing in life that calms me and excites me at the same time. I honestly don’t know what else I would want to do with my life!
</p>
<!--End right/bottom panel content html-->
