<!--Place left panel content html here-->
<h2>What inspires me to be a graphic designer?</h2>
<p>
 That is something I question almost every time I get faced with hard project or a hard client.

Here are nine things that inspire me to do the work I do:

    I get to be creative and use my imagination, from picking colors to picking the right font for the project.
    Getting to take people's thoughts and putting into something magical like a creating the event
    Trying to always make anything I do better
    Every project is a different way to express your thoughts and creativity.
    It is very exciting to see the reaction of the clients' faces when they see your work.
    Having your work recognized either through media or by certain people in the industry
    There is always something new to do.
    New and cool products that help make graphic design even better
    Being told how much your work changed the look of someone's work space

Share what inspires you in your career!
</p>
<!--End left panel content html-->